<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% include "navbar.html" %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <div class="card mb-3" style="margin:20px;">
        <div class="row no-gutters">
            <div class="col-md-2">
                <img src="{{pfp}}" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">Hello there, Welcome to the dashboard!</h1>
                    <h3 class="card-text">You are currently logged in as <i>{{username}}#{{id}}</i></h3>
                    <h5 class="card-text">Ability to edit dashboard ->{{rights}}</i></p>
                </div>
            </div>
        </div>
    </div>
    <h1 class="weapon-title">Here is a <strong>READ-ONLY</strong> list of weapons.</h1>
    <table class="table" style="margin: 20px;">
        <tbody>
            {% for item in data %}
            {% if item.seen %}
            <tr>
                <td class="weapons">{{item.name}}</td>
                <td class="weapons"><a href="/edit/weapon/{{item.id}}">edit weapon</a></td>
                <td class="weapons"><a href="/remove/{{item.id}}">remove weapon</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="weapons" href="/edit">Click here to add weapons</a>

</body>

</html>