<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% include "navbar.html" %}
    <link rel="icon" type="image/x-icon" href="/static/icon.ico">
    <h1 class="welcome">Welcome to the dashboard</h1>
    <h1 class="login">You must login to continue!</h1>
    <h1 class="login-discord">Its really easy to login, we have discord intergration ;)</h1>
    <div class="login-button">
        <a type="button" class="btn btn-dark btn-lg" href="{{oauth_url}}">Click me to login with discord!</a>
    </div>
</body>

</html>